# Dependencies
node_modules/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

#md Files
BACKEND_STRUCTURE_EXPLANATION.md
FRONTEND_STRUCTURE_EXPLANATION.md
EVENT_FINALIZATION_IMPLEMENTATION.md
DOMAIN_AUTHENTICATION_IMPLEMENTATION.md
FRONTEND_README.md
BACKEND_README.md
ITD110_CASE_STUDY_1_COMPLIANCE_CHECK.md
ProjectContext.md
SETUP.md
VERCEL_SETUP.md
