PORT=5000
# for local development, use the following MongoDB URI
MONGODB_URI=mongodb://localhost:27017/RankIT_DB
# for online deployment, use the following MongoDB URI (replace <username>, <password>, and <dbname> with your actual credentials)
# replace with what you have in your MongoDB Atlas cluster connection string
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb/databasename
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=12h
