# for local development, create a .env file with the following content:
REACT_APP_API_URL=http://localhost:5000/api
VITE_API_URL=http://localhost:5000/api
#for online deployment, use the following API URL (replace with your actual backend URL)
# REACT_APP_API_URL=https://your-backend-url.com/api
# VITE_API_URL=https://your-backend-url.com/api